# Tensorflow Recommendation System

In [5]:
from modules.data_loader import load_data

In [6]:
df_train, df_test, df_articles = load_data()

Data was already pickeled!

In [9]:
df_train[Variables.ALL_VARIABLES]

         article_id                                        customer_id
27607275  305931001  000114c6996ef5703a8d455faf2103f8488d3928348e07...
27607276  690449013  000114c6996ef5703a8d455faf2103f8488d3928348e07...
27607277  783346021  000114c6996ef5703a8d455faf2103f8488d3928348e07...
27607278  573716050  000114c6996ef5703a8d455faf2103f8488d3928348e07...
27607279  817150005  000114c6996ef5703a8d455faf2103f8488d3928348e07...
...             ...                                                ...
31788319  929511001  fff2282977442e327b45d8c89afde25617d00124d0f999...
31788320  891322004  fff2282977442e327b45d8c89afde25617d00124d0f999...
31788321  918325001  fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...
31788322  833459002  fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...
31788323  898573003  fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...

[4181049 rows x 2 columns]

In [8]:
df_train.head()

,t_dat,customer_id,article_id,price,sales_channel_id
27607275,2020-06-20,000114c6996ef5703a8d455faf2103f8488d3928348e07...,305931001,0.022017,2
27607276,2020-06-20,000114c6996ef5703a8d455faf2103f8488d3928348e07...,690449013,0.030492,2
27607277,2020-06-20,000114c6996ef5703a8d455faf2103f8488d3928348e07...,783346021,0.013542,2
27607278,2020-06-20,000114c6996ef5703a8d455faf2103f8488d3928348e07...,573716050,0.016932,2
27607279,2020-06-20,000114c6996ef5703a8d455faf2103f8488d3928348e07...,817150005,0.013542,2

In [3]:
df_train.dtypes

t_dat                      object
customer_id                object
article_id                  int64
price                     float64
sales_channel_id            int64
FN                        float64
Active                    float64
club_member_status         object
fashion_news_frequency     object
age                       float64
postal_code                object
product_type_name          object
product_group_name         object
colour_group_name          object
department_name            object
index_name                 object
section_name               object
garment_group_name         object
dtype: object

In [6]:
import numpy as np
df_train['article_id'] = np.asarray(df_train['article_id']).astype(np.float32)

In [3]:
df_train.isna().sum()

t_dat                     0
customer_id               0
article_id                0
price                     0
sales_channel_id          0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    0
age                       0
postal_code               0
product_type_name         0
product_group_name        0
colour_group_name         0
department_name           0
index_name                0
section_name              0
garment_group_name        0
dtype: int64

In [5]:
import tensorflow as tf
import tensorflow_recommenders as tfrs

tf.config.list_physical_devices('GPU')

2024-10-25 21:23:53.758865: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-10-25 21:23:53.946174: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1729884234.008233    5534 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1729884234.026790    5534 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-10-25 21:23:54.195285: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [6]:
df_train.isna().sum()

t_dat                     0
customer_id               0
article_id                0
price                     0
sales_channel_id          0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    0
age                       0
postal_code               0
product_type_name         0
product_group_name        0
colour_group_name         0
department_name           0
index_name                0
section_name              0
garment_group_name        0
dtype: int64

In [7]:
df_test.isna().sum()

t_dat                     0
customer_id               0
article_id                0
price                     0
sales_channel_id          0
FN                        0
Active                    0
club_member_status        0
fashion_news_frequency    0
age                       0
postal_code               0
product_type_name         0
product_group_name        0
colour_group_name         0
department_name           0
index_name                0
section_name              0
garment_group_name        0
dtype: int64

:

In [1]:
from modules.data_loader import load_data
import time
from modules.preprocess_data import preprocess
from modules.train import run_training
from config.config import Config
import pickle
import tensorflow as tf

2024-11-05 20:02:17.315990: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-11-05 20:02:17.324386: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1730833337.333788   75869 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1730833337.336775   75869 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-11-05 20:02:17.346744: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Load/Extract the data
print('Loading the data...')
train_df, test_df, article_df = load_data()

# Preprocess the data to a TF Dataset
print('Preprocessing the data...')
preprocessed_hm_data = preprocess(train_df, test_df, article_df, batch_size=Config.batch_size)

Loading the data...
Data was already pickeled!
Preprocessing the data...
String: article_id

I0000 00:00:1730833341.309426   75869 gpu_device.cc:2022] Created device /job:localhost/replica:0/task:0/device:GPU:0 with 5564 MB memory:  -> device: 0, name: NVIDIA GeForce RTX 3070, pci bus id: 0000:01:00.0, compute capability: 8.6

String: customer_id
Done preparing the lookups...
Performing lookup on key: article_id
Input value: Tensor("args_0:0", shape=(None,), dtype=string)
Done generating the training set...
Performing lookup on key: article_id
Input value: Tensor("args_0:0", shape=(None,), dtype=string)
Done generating the test set...
Performing lookup on key: article_id
Input value: Tensor("args_0:0", shape=(None,), dtype=string)
Done generating the article data...

In [3]:
preprocessed_hm_data.train_ds

In [4]:
from config.config import Variables
Variables.ALL_VARIABLES

['article_id', 'customer_id']